<ion-header>
  <ion-toolbar>
    <ion-title>Contacts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div id="contain">


        <!--标题-->
        <div id="title" class="x_y_center">

            <div id="title_left"></div>

            <div id="title_center">通讯录</div>

            <div id="title_right" class=" x_y_center">
                <div id="title_right_icon" style="background-image: url(../resourse/img/添加好友.svg); background-size: cover;"></div>
            </div>

        </div>
        <!--标题end-->


        <!--内容-->
        <div id="content">
            <div id="content_research" class="x_y_center">
                <div id="research" class=" x_y_center">
                    <div id="research_left"></div>
                    <div id="research_center" class="x_y_center">
                        <div id="maganify"></div>
                        <div id="research_text">搜索</div>
                    </div>
                    <div id="research_right">
                        <div id="research_voice"></div>

                    </div>
                </div>
            </div>
            <div class="communication x_y_center">
                <div class="communication_img " style="background-image: url(../resourse/img/新的朋友.svg)"></div>
                <div class="communication_nickname ">新的朋友</div>
            </div>

            <hr class="content_hr">

            <div class="communication x_y_center">
                <div class="communication_img" style="background-image: url(../resourse/img/群聊.svg)"></div>
                <div class="communication_nickname">群聊</div>
            </div>
            <hr class="content_hr">

            <div class="communication x_y_center">
                <div class="communication_img" style="background-image: url(../resourse/img/标签.svg)"></div>
                <div class="communication_nickname">标签</div>
            </div>
            <hr class="content_hr">

            <div class="communication x_y_center">
                <div class="communication_img" style="background-image: url(../resourse/img/公众号.svg)"></div>
                <div class="communication_nickname">公众号</div>
            </div>
            <hr class="content_hr">

            <p class="abc">&nbsp;&nbsp;&nbsp;A</p>

            <div class="communication x_y_center">
                <div class="communication_img" style="background-image: url(../resourse/img/头像_奥巴马.jpg)"></div>
                <div class="communication_nickname">奥巴马</div>
            </div>

            <p class="abc">&nbsp;&nbsp;&nbsp;B</p>

            <div class="communication x_y_center">
                <div class="communication_img" style="background-image: url(../resourse/img/头像_贾斯汀.jpg)"></div>
                <div class="communication_nickname">比伯</div>
            </div>

            <p class="abc">&nbsp;&nbsp;&nbsp;C</p>

            <div class="communication x_y_center">
                <div class="communication_img" style="background-image: url(../resourse/img/成龙.jpg)"></div>
                <div class="communication_nickname">成龙</div>
            </div>
            <hr class="content_hr">
            <div class="communication x_y_center">
                <div class="communication_img" style="background-image: url(../resourse/img/陈奕迅.jpg)"></div>
                <div class="communication_nickname">陈奕迅</div>
            </div>
            <hr class="content_hr">
            <div class="communication x_y_center">
                <div class="communication_img" style="background-image: url(../resourse/img/陈乔恩.jpg)"></div>
                <div class="communication_nickname">陈乔恩</div>
            </div>

            <p class="abc">&nbsp;&nbsp;&nbsp;D</p>
            <div class="communication x_y_center">
                <div class="communication_img" style="background-image: url(../resourse/img/迪丽热巴.jpg)"></div>
                <div class="communication_nickname">迪丽热巴</div>
            </div>

            <p class="abc">&nbsp;&nbsp;&nbsp;F</p>
            <div class="communication x_y_center">
                <div class="communication_img" style="background-image: url(../resourse/img/冯提莫.jpg)"></div>
                <div class="communication_nickname">冯提莫</div>
            </div>
            <hr class="content_hr">
            <div class="communication x_y_center">
                <div class="communication_img" style="background-image: url(../resourse/img/冯小刚.jpg)"></div>
                <div class="communication_nickname">冯小刚</div>
            </div>

            <p class="abc">&nbsp;&nbsp;&nbsp;G</p>
            <div class="communication x_y_center">
                <div class="communication_img" style="background-image: url(../resourse/img/葛优.jpg)"></div>
                <div class="communication_nickname">葛优</div>
            </div>

            <p class="abc">&nbsp;&nbsp;&nbsp;H</p>
            <div class="communication x_y_center">
                <div class="communication_img" style="background-image: url(../resourse/img/郝星运.png)"></div>
                <div class="communication_nickname">郝星运</div>
            </div>
        </div>
        <!--内容end-->
        </div>

</ion-content>
