<ion-header>
    <ion-toolbar>
      <ion-title>微信</ion-title>
    </ion-toolbar>

  </ion-header>
  <!--在这里引入css后页面刷不出来-->
  
  <!--
      <meta charset="UTF-8">
  <link rel="stylesheet" href="./me.page.scss">
  -->
  
  
  <ion-content padding>
      <div id="contain">
          <!--标题-->
          <div id="title" class="x_y_center">
     
             <div id="title_left"></div>
     
             <div id="title_center">我</div>
     
             <div id="title_right" class=" x_y_center">
     
             </div>
     
         </div>
         <!--标题end-->
         <!--内容-->
    <div id="content" style="display: flex; flex-flow: column">
        <div class="me_content_div_mypage">
            <div id="me_content_mypage" class="x_y_center">
                <div id="me_mypage_l" class="" style="background-image: url(../resourse/img/我的微信头像.png)"></div>
                <div id="me_mypage_center" class="">
                    <div id="me_mypage_center_up" >MrsjHan</div>
                    <div id="me_mypage_center_down">微信号：l035071956</div>

                </div>
                <div id="me_mypage_r" class="">
                    <div class="discover_content_items_r x_y_center ">
                        <div id="me_mypage_2codeimg"></div>
                        <div class="discover_content_items_r_icon "></div>
                    </div>
                </div>

            </div>
        </div>


        <div class="me_content_div_1">
            <div class="discover_content_items">
                <div class="discover_content_items_l x_y_center ">
                    <div class="discover_content_items_l_icon " style="background-image: url(../resourse/img/钱包.svg)"></div>
                    <div class="discover_content_items_l_text ">钱包</div>
                </div>
                <div class="discover_content_items_r x_y_center ">
                    <div class="discover_content_items_r_text "></div>
                    <div class="discover_content_items_r_icon "></div>
                </div>
            </div>
        </div>

        <div class="me_content_div_4">
            <div class="discover_content_items">
                <div class="discover_content_items_l x_y_center ">
                    <div class="discover_content_items_l_icon " style="background-image: url(../resourse/img/收藏.svg)"></div>
                    <div class="discover_content_items_l_text ">收藏</div>
                </div>
                <div class="discover_content_items_r x_y_center ">
                    <div class="discover_content_items_r_text "></div>
                    <div class="discover_content_items_r_icon "></div>
                </div>
            </div>
            <hr class="content_hr">
            <div class="discover_content_items">
                <div class="discover_content_items_l x_y_center ">
                    <div class="discover_content_items_l_icon " style="background-image: url(../resourse/img/相册.svg)"></div>
                    <div class="discover_content_items_l_text ">相册</div>
                </div>
                <div class="discover_content_items_r x_y_center ">
                    <div class="discover_content_items_r_text "></div>
                    <div class="discover_content_items_r_icon "></div>
                </div>
            </div>
            <hr class="content_hr">
            <div class="discover_content_items">
                <div class="discover_content_items_l x_y_center ">
                    <div class="discover_content_items_l_icon " style="background-image: url(../resourse/img/卡包.svg)"></div>
                    <div class="discover_content_items_l_text ">卡包</div>
                </div>
                <div class="discover_content_items_r x_y_center ">
                    <div class="discover_content_items_r_text "></div>
                    <div class="discover_content_items_r_icon "></div>
                </div>
            </div>
            <hr class="content_hr">
            <div class="discover_content_items">
                <div class="discover_content_items_l x_y_center ">
                    <div class="discover_content_items_l_icon " style="background-image: url(../resourse/img/表情.svg)"></div>
                    <div class="discover_content_items_l_text ">表情</div>
                </div>
                <div class="discover_content_items_r x_y_center ">
                    <div class="discover_content_items_r_text "></div>
                    <div class="discover_content_items_r_icon "></div>
                </div>
            </div>
        </div>

        <div class="me_content_div_1">
            <div class="discover_content_items">
                <div class="discover_content_items_l x_y_center ">
                    <div class="discover_content_items_l_icon " style="background-image: url(../resourse/img/设置.svg)"></div>
                    <div class="discover_content_items_l_text ">设置</div>
                </div>
                <div class="discover_content_items_r x_y_center ">
                    <div class="discover_content_items_r_text "></div>
                    <div class="discover_content_items_r_icon "></div>
                </div>
            </div>
        </div>
        <!--内容end-->

    </div>
         </div>
  </ion-content>