<ion-header>
  <ion-toolbar>
    <ion-title>Chats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div id="contain">

        <!--标题-->
        <div id="title" class="x_y_center">

            <div id="title_left"></div>

            <div id="title_center">微信</div>

            <div id="title_right" class=" x_y_center">
                <div id="title_right_icon" style="background-image: url(../resourse/img/22加号.svg); background-size: cover;"></div>
                <div id="title_add_menu" class="dispaly_none">
                    <div class="title_add_menu_items x_y_center">
                        <div class="title_add_menu_items_left " style="background-image: url(../resourse/img/发起群聊.svg)"></div>
                        <div class="title_add_menu_items_right ">发起群聊</div>
                    </div>
                    <hr class=" items_hr">
                    <div class="title_add_menu_items x_y_center">
                        <div class="title_add_menu_items_left" style="background-image: url(../resourse/img/菜单_加好友.svg)"></div>
                        <div class="title_add_menu_items_right">添加朋友</div>
                    </div>
                    <hr class=" items_hr">
                    <div class="title_add_menu_items x_y_center">
                        <div class="title_add_menu_items_left" style="background-image: url(../resourse/img/菜单_扫一扫.svg)"></div>
                        <div class="title_add_menu_items_right">扫一扫</div>
                    </div>
                    <hr class=" items_hr">
                    <div class="title_add_menu_items x_y_center">
                        <div class="title_add_menu_items_left" style="background-image: url(../resourse/img/收付款.svg)"></div>
                        <div class="title_add_menu_items_right">收付款</div>
                    </div>
                </div>
            </div>

        </div>
        <!--标题end-->







        <!--内容-->
        <div id="content">
            <div id="content_research" class="x_y_center">
                <div id="research" class=" x_y_center">
                    <div id="research_left"></div>
                    <div id="research_center" class="x_y_center">
                        <div id="maganify"></div>
                        <div id="research_text">搜索</div>
                    </div>
                    <div id="research_right">
                        <div id="research_voice"></div>

                    </div>
                </div>
            </div>


            <hr class="content_hr">
            <div class="content_items x_y_center">
                <div class="person_img " style="background-image: url(../resourse/img/头像_boy.jpg)"></div>
                <div class="content_items_right ">
                    <div class="content_items_right_up x_y_center">
                        <div class="content_items_right_up_nickname ">贾老师</div>
                        <div class="content_items_right_up_time ">上午10:26</div>
                    </div>
                    <div class="content_items_right_down x_y_center ">
                        <div class="content_items_right_down_msg ">我要给你作业打满分！</div>
                        <div class="content_items_right_down_silence "></div>
                    </div>
                </div>
            </div>

            <hr class="content_hr">
            <div class="content_items x_y_center">
                <div class="person_img " style="background-image: url(../resourse/img/头像_奥巴马.jpg)"></div>
                <div class="content_items_right ">
                    <div class="content_items_right_up x_y_center">
                        <div class="content_items_right_up_nickname ">小奥</div>
                        <div class="content_items_right_up_time ">昨天</div>
                    </div>
                    <div class="content_items_right_down x_y_center ">
                        <div class="content_items_right_down_msg ">大哥，我有要事找你</div>
                        <div class="content_items_right_down_silence "></div>
                    </div>
                </div>
            </div>

            <hr class="content_hr">
            <div class="content_items x_y_center">
                <div class="person_img " style="background-image: url(../resourse/img/头像_贾斯汀.jpg)"></div>
                <div class="content_items_right ">
                    <div class="content_items_right_up x_y_center">
                        <div class="content_items_right_up_nickname ">贾斯汀.比伯</div>
                        <div class="content_items_right_up_time ">昨天</div>
                    </div>
                    <div class="content_items_right_down x_y_center ">
                        <div class="content_items_right_down_msg ">请邀请我来参加你的演唱会吧</div>
                        <div class="content_items_right_down_silence "></div>
                    </div>
                </div>
            </div>

            <hr class="content_hr">
            <div class="content_items x_y_center">
                <div class="person_img " style="background-image: url(../resourse/img/头像_林志玲.jpg)"></div>
                <div class="content_items_right ">
                    <div class="content_items_right_up x_y_center">
                        <div class="content_items_right_up_nickname ">林志玲</div>
                        <div class="content_items_right_up_time ">2018/7/31</div>
                    </div>
                    <div class="content_items_right_down x_y_center ">
                        <div class="content_items_right_down_voice ">[语音]</div>
                        <div class="content_items_right_down_silence "></div>
                    </div>
                </div>
            </div>

            <hr class="content_hr">
            <div class="content_items x_y_center">
                <div class="person_img " style="background-image: url(../resourse/img/头像_周冬雨.jpg)"></div>
                <div class="content_items_right ">
                    <div class="content_items_right_up x_y_center">
                        <div class="content_items_right_up_nickname ">周冬雨</div>
                        <div class="content_items_right_up_time ">2018/7/31</div>
                    </div>
                    <div class="content_items_right_down x_y_center ">
                        <div class="content_items_right_down_msg ">[图片]</div>
                        <div class="content_items_right_down_silence "></div>
                    </div>
                </div>
            </div>

            <hr class="content_hr">
            <div class="content_items x_y_center">
                <div class="person_img " style="background-image: url(../resourse/img/头像1.png)"></div>
                <div class="content_items_right ">
                    <div class="content_items_right_up x_y_center">
                        <div class="content_items_right_up_nickname ">黄羽飞</div>
                        <div class="content_items_right_up_time ">2018/7/30</div>
                    </div>
                    <div class="content_items_right_down x_y_center ">
                        <div class="content_items_right_down_msg ">我通过了你的朋友验证请求，现在我们可以开始聊天了</div>
                        <div class="content_items_right_down_silence "></div>
                    </div>
                </div>
            </div>

            <hr class="content_hr">
            <div class="content_items x_y_center">
                <div class="person_img " style="background-image: url(../resourse/img/头像_旺财.jpg)"></div>
                <div class="content_items_right ">
                    <div class="content_items_right_up x_y_center">
                        <div class="content_items_right_up_nickname ">旺财</div>
                        <div class="content_items_right_up_time ">2018/7/30</div>
                    </div>
                    <div class="content_items_right_down x_y_center ">
                        <div class="content_items_right_down_msg ">汪...汪汪汪...汪 呜汪！</div>
                        <div class="content_items_right_down_silence "></div>
                    </div>
                </div>
            </div>



        </div>
        <!--内容end-->
        </div>
</ion-content>
