<ion-header>
  <ion-toolbar>
    <ion-title>微信</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <div id="contain">
      

        <!--标题-->
        <div id="title" class="x_y_center">

            <div id="title_left"></div>

            <div id="title_center">发现</div>

            <div id="title_right" class=" x_y_center">

            </div>

        </div>
        <!--标题end-->

        <!--内容-->
        <div id="content" style="display: flex; flex-flow: column;">
            <div class="discover_content_div_1">
                <div class="discover_content_items">
                    <div class="discover_content_items_l x_y_center ">
                        <div class="discover_content_items_l_icon " style="background-image: url(../resourse/img/朋友圈.svg)"></div>
                        <div class="discover_content_items_l_text ">朋友圈</div>
                    </div>
                    <div class="discover_content_items_r x_y_center ">
                        <div class="discover_content_items_r_text "></div>
                        <div class="discover_content_items_r_icon_point"></div>
                        <div class="discover_content_items_l_icon " style="background-image: url(../resourse/img/头像_周冬雨.jpg)"></div>
                        <div class="discover_content_items_r_icon "></div>
                    </div>
                </div>
            </div>

            <div class="discover_content_div_2">
                <div class="discover_content_items">
                    <div class="discover_content_items_l x_y_center ">
                        <div class="discover_content_items_l_icon " style="background-image: url(../resourse/img/发现_扫一扫.svg)"></div>
                        <div class="discover_content_items_l_text ">扫一扫</div>
                    </div>
                    <div class="discover_content_items_r x_y_center ">
                        <div class="discover_content_items_r_text "></div>


                        <div class="discover_content_items_r_icon "></div>
                    </div>
                </div>
                <hr class="content_hr">
                <div class="discover_content_items">
                    <div class="discover_content_items_l x_y_center ">
                        <div class="discover_content_items_l_icon " style="background-image: url(../resourse/img/摇一摇.svg)"></div>
                        <div class="discover_content_items_l_text ">摇一摇</div>
                    </div>
                    <div class="discover_content_items_r x_y_center ">
                        <div class="discover_content_items_r_text "></div>


                        <div class="discover_content_items_r_icon "></div>
                    </div>
                </div>
            </div>

            <div class="discover_content_div_2">
                <div class="discover_content_items">
                    <div class="discover_content_items_l x_y_center ">
                        <div class="discover_content_items_l_icon " style="background-image: url(../resourse/img/看一看.svg)"></div>
                        <div class="discover_content_items_l_text ">看一看</div>
                    </div>
                    <div class="discover_content_items_r x_y_center ">
                        <div class="discover_content_items_r_text "></div>


                        <div class="discover_content_items_r_icon "></div>
                    </div>
                </div>
                <hr class="content_hr">
                <div class="discover_content_items">
                    <div class="discover_content_items_l x_y_center ">
                        <div class="discover_content_items_l_icon " style="background-image: url(../resourse/img/搜一搜.svg)"></div>
                        <div class="discover_content_items_l_text ">搜一搜</div>
                    </div>
                    <div class="discover_content_items_r x_y_center ">
                        <div class="discover_content_items_r_text "></div>


                        <div class="discover_content_items_r_icon "></div>
                    </div>
                </div>
            </div>

            <div class="discover_content_div_2">
                <div class="discover_content_items">
                    <div class="discover_content_items_l x_y_center ">
                        <div class="discover_content_items_l_icon " style="background-image: url(../resourse/img/附近的人.svg)"></div>
                        <div class="discover_content_items_l_text ">附近的人</div>
                    </div>
                    <div class="discover_content_items_r x_y_center ">
                        <div class="discover_content_items_r_text "></div>


                        <div class="discover_content_items_r_icon "></div>
                    </div>
                </div>
                <hr class="content_hr">
                <div class="discover_content_items">
                    <div class="discover_content_items_l x_y_center ">
                        <div class="discover_content_items_l_icon " style="background-image: url(../resourse/img/漂流瓶.svg)"></div>
                        <div class="discover_content_items_l_text ">漂流瓶</div>
                    </div>
                    <div class="discover_content_items_r x_y_center ">
                        <div class="discover_content_items_r_text "></div>


                        <div class="discover_content_items_r_icon "></div>
                    </div>
                </div>
            </div>

            <div class="discover_content_div_2">
                <div class="discover_content_items">
                    <div class="discover_content_items_l x_y_center ">
                        <div class="discover_content_items_l_icon " style="background-image: url(../resourse/img/购物.svg)"></div>
                        <div class="discover_content_items_l_text ">购物</div>
                    </div>
                    <div class="discover_content_items_r x_y_center ">
                        <div class="discover_content_items_r_text "></div>


                        <div class="discover_content_items_r_icon "></div>
                    </div>
                </div>
                <hr class="content_hr">
                <div class="discover_content_items">
                    <div class="discover_content_items_l x_y_center ">
                        <div class="discover_content_items_l_icon " style="background-image: url(../resourse/img/游戏.svg)"></div>
                        <div class="discover_content_items_l_text ">游戏</div>
                    </div>
                    <div class="discover_content_items_r x_y_center ">
                        <div class="discover_content_items_r_text ">圣斗士今日首发</div>
                        <div class="discover_content_items_r_icon_point"></div>
                        <div class="discover_content_items_l_icon " style="background-image: url(../resourse/img/圣斗士.jpg)"></div>
                        <div class="discover_content_items_r_icon "></div>
                    </div>
                </div>
            </div>

            <div class="discover_content_div_1" style="margin: 0px 0px 16px 0px">
                <div class="discover_content_items">
                    <div class="discover_content_items_l x_y_center ">
                        <div class="discover_content_items_l_icon " style="background-image: url(../resourse/img/小程序.svg)"></div>
                        <div class="discover_content_items_l_text ">小程序</div>
                    </div>
                    <div class="discover_content_items_r x_y_center ">
                        <div class="discover_content_items_r_text "></div>


                        <div class="discover_content_items_r_icon "></div>
                    </div>
                </div>
            </div>


        </div>


        <!--内容end-->
        </div>

</ion-content>
